rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /index/{document}{
      allow read: if request.auth.uid != null;
    }
    match /users/{document}{
      allow read: if request.auth.uid != null;
    }
    match /teams/{document}{
      allow read: if request.auth.uid != null;
    }
    match /levels/{document}{
      allow read,write: if false;
    }
    match /questions/{document} {
      allow read: if true;
    }
    match /logs/{document}{
      allow read,write: if false;
    }

  }
}